*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
:root {
  --headerBg: #3674b5;
  --footerBg: #3674b5;
}
/* --------------- Global Styling ------------------- */
.display-none{
  display: none;
}
.p-1 {
  padding: 1rem;
}
.mtb-1 {
  margin: 1rem 0;
}
.textCenter {
  text-align: center;
}

#taskItemContainer {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
}
.actionBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem;
  margin-left: 0.5rem;
}
/* -------X------- Global Styling --------X---------- */

/* --------------- Header ------------------- */
#header {
  background-color: var(--headerBg);
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
}
#logoutBtn {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
#siteName {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
/* -------X------- Header --------X---------- */

/* --------------- Footer ------------------- */
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--footerBg);
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
}

/* -------X------- Footer --------X---------- */
